PORT=5000
NODE_ENV=development
APP_NAME=WM Kalla Material Platform
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=7d
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=123456
DB_NAME=wm_kalla_materials
DB_SYNCHRONIZE=true
DB_LOGGING=false
AUTO_SEED=true
